/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body
{
	height: 100%;
}
html
{
	background: url(http://cdn.styleforum.net/b/b0/350x700px-LL-b0067b11_tipping-intensifies.gif) no-repeat center center fixed;
	background-size: cover;
}
#footer
{
	position: fixed;
	bottom: 0px;
	display: inline-block;
	text-align: center;
	background: rgba(0,0,255,.85);
	width: 100%;
	height: 40px;
}

#contain
{
	width: 900px;
	background-color: #F4B45F;
	margin: 0 auto;
	min-height: 760px;
	margin-bottom: 50px;
	position: dynamic;
}

#header
{
	width: 100%;
	min-height: 100px;
	background-color:red;
	position: dynamic;
}
#headerContent
{
	padding: 10px;
}

#content
{
	width: 100%;
	min-height: 684px;
	background: url(http://www.wordsoverpixels.com/images/76bfeb4418920fd6055201d8ff2fbf2b.jpg);
	position: dynamic;
	word-break:keep-all;
}

#rightMenu
{
	width: 250px;
	height: 100%;
	float: right;
	background-color: green;
}

div#sticker {
    margin:5px 0;
    background:#AAA;
    width:250px;
}
.stick {
    position:fixed;
    top:0px;
}
.clear 
{ 
    clear:both; 
}
* 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
